* {
    /* `otf-font-awesome` is required to be installed for icons */
    font-family: FontAwesome, Arimo, Roboto, Helvetica, Arial, sans-serif;
    font-size: 13px;
}

window#waybar {
    background-color: transparent;
}

tooltip {
    background-color: rgba(15, 76, 92, 0.9);
}

tooltip label {
    font-size: 15px;
}

/* CONFIGURATION FOR LEFT BAR */

/* ------ CENTER MODULES -------*/

window#waybar.gambar-left .modules-center  {
    background-color: rgba(255, 136, 0, 0.75);
    padding: 40px 0px;
    border-radius: 10px;
}

#workspaces {
    padding: 0px 4px;
}

#workspaces button {
    padding: 0px 7px;
    color: #ffffff;
}

#workspaces button:hover {
    border: none;
    background: transparent;
    box-shadow: none;
}

window#waybar.gambar-left #workspaces button.active {
    background-color: rgba(251, 139, 36, 1);
    border-radius: 200px;
    box-shadow: inset 0 -3px rgba(255,255,255,0.5);
}


window#waybar.gambar-left #workspaces button#niri-workspace-discord.active {
    background-color: rgba(114,137,218,1);
}


window#waybar.gambar-left #workspaces button#niri-workspace-steam.active {
    background-color: rgba(0, 48, 73, 1);
}

window#waybar.gambar-left #workspaces button#niri-workspace-video.active {
    background-color: rgba(154, 3, 30, 0.7);
}

/* ------ BOTTOM MODULES -----*/

#gamemode {
    background-color: rgba(251, 139, 36, 0.85);
    padding: 8px 0px 8px 8px;
    border-radius: 17px;
}

#gamemode.running {
    color: #9A031E;
}

#backlight {
    padding: 7px 0px;
    background-color: rgba(144, 177, 177, 0.85);
    color: #ffffff;
    border-radius: 14px;
}

#network {
    border-radius: 200px;
    padding: 8px 0px;
    color: #ffffff;
    background-color: rgba(42, 157, 143, 0.85);
}

#network.disconnected {
    background-color: rgba(154, 3, 30, 0.85);
    font-size: 16px;
}

#network.disabled {
    background-color: rgba(15, 76, 92, 0.9);
}

#idle_inhibitor {
    padding: 10px 0px;
    color: #ffffff;
    background-color: rgba(15, 76, 92, 0.85);
    border-radius: 15px;
}

#idle_inhibitor.activated {
    background-color: #ecf0f1;
    color: #2d3436;
}


/* CONFIGURATION FOR TOP BAR */

/*----------- LEFT MODULES -------------*/
#tray {
    background-color: rgba(15, 76, 92, 0.85);
    color: #ffffff;
    border-radius: 100px;
    padding: 0px 30px;
}

#tray menu {
    background-color: rgba(15, 76, 92, 1);
    color: #ffffff;
}

#tray > .passive {
    -gtk-icon-effect: dim;
}

#tray > .needs-attention {
    -gtk-icon-effect: highlight;
    background-color: #eb4d4b;
}

#power-profiles-daemon {
    padding: 0px 10px; 
    border-radius: 10px;
    color: #ffffff;
}

#power-profiles-daemon.performance {
    background-color: rgba(154, 3, 30, 0.9);
}

#power-profiles-daemon.balanced {
    background-color: rgba(15, 76, 92, 0.85);
}

#power-profiles-daemon.power-saver {
    background-color: rgba(33, 158, 188, 0.9);
}

#bluetooth {
    padding: 0px 8px;
    background-color: rgba(15, 76, 92, 0.85);
    color: #ffffff;
    border-radius: 20px;
    font-size: 15px;
    box-shadow: inset 0 -2px rgba(255,255,255,0.5);
}

#bluetooth.connected {
    background-color: rgba(255, 183, 3, 0.8);
}

#bluetooth.on {
    background-color: rgba(100, 177, 100, 0.9);
    /* background-color: rgba(56, 176, 0, 0.85); */
}

#bluetooth.off {
    background-color: rgba(154, 3, 30, 0.85);
}

#bluetooth.discovering {
    background-color: rgba(42, 157, 143, 0.85);
}

/* ------- CENTER MODULES ---------- */

#custom-media {
    background-color: rgba(251, 139, 36, 0.8);
    border-radius: 100px;
    padding: 0px 10px 0px 17px;
}

#custom-media.custom-spotify {
    background-color: rgba(38, 166, 91, 0.8);
}

/* -------- RIGHT MODULES --------- */

#wireplumber {
    background-color: rgba(251, 139, 36, 0.9);
}


#cpu,
#memory,
#wireplumber
{
    padding: 0px 8px;
    border-radius: 10px;
    color: #ffffff;
}

#cpu {
    background-color: rgba(227, 100, 20, 0.9);
}

#memory {
    background-color: rgba(95, 15, 64, 0.85);
}

#battery {
    padding: 0px 8px;
    border-radius: 12px;
    background-color: rgba(15, 76, 92, 1);
    color: #ffffff;
}

#battery.charging, #battery.plugged {
    color: #ffffff;
    background-color: rgba(38, 166, 91, 0.9);
}

@keyframes blink {
    to {
        background-color: #ffffff;
        color: #000000;
    }
}

/* Using steps() instead of linear as a timing function to limit cpu usage */
#battery.critical:not(.charging) {
    background-color: #f53c3c;
    color: #ffffff;
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: steps(12);
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

#clock {
    padding: 0px 20px;
    border: solid 3px rgba(95, 15, 64, 1);
    background-color: rgba(95, 15, 64, 1);
    border-radius: 100px; 
    font-size: 15px;
    color: #ffffff;
}

#user {
    background-color: rgba(95, 15, 64, 1);
    color: #ffffff;
    border-radius: 100px;
}


